* {
	margin: 0;
	padding: 0;
}

#nav-bar {
	height: 80px;
	position: fixed;
	background: #00a087;
	width: 100%;
	color: #e8fdff;
	padding: 0 2em;
	display: flex;
	align-items: center;
	z-index: 2;
}

#nav-bar .logo {
	height: 80px;
	width: 80px;
}

#nav-bar .header {
	margin-left: 10px;
	font-size: 32px;
}

.container {
  background: white;
  position: relative;
  top: 100px;
  height: 400px;
  width: 600px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  border-radius: 10px;
}